body {
  background-color: #dddddd;
}

.header {
  min-height: 650px;
}

.nav-img-custom {
  width: 3.5rem;
  background-color: #817abf;
  min-height: 2.5rem;
}

.nav-img-custom img {
  width: 2rem;
}

.nav-img-custom:hover + .nav-ex-custom {
  display: flex;
  align-items: center;
}

.nav-ex-custom:hover {
  display: flex;
  align-items: center;
}

.nav-ex-custom {
  display: none;
  margin: 1px 0;
  box-sizing: border-box;
  background-color: #1f138b;
  min-height: calc(2.5rem - 2px);
}

.menu-custom {
  min-width: 20rem;
}

.header {
  background: #151515 url("../assets/header.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.title-custom {
  background-color: rgba(32, 20, 140, 0.862745098);
  top: 65%;
}

.friends {
  text-align: justify;
}
